body {
    font-family: 'Roboto', sans-serif;
    background-image: url('/src/imagens/Fundo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
    margin: 0;
    padding: 0;
    font-size: 26px; 
}


.container {
    max-width: 800px; 
    margin: 50px auto;
    padding: 40px; 
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding-top: 80px;
}

h1 {
    font-size: 32px; 
    color: #00caf8;
    margin-bottom: 30px;
    align-items: center;
    display: flex;
}


label {
    display: block;
    margin: 15px 0 5px; 
    color: #333;
    font-weight: bold;
    font-size: 20px; 
}

input, select {
    width: 100%;
    padding: 15px; 
    margin-bottom: 20px; 
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 22px; 
}

button {
    padding: 15px 30px; 
    font-size: 26px; 
    background-color: #c6d4e1;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #44749d; 
}

#tipo-estoque {
    margin-bottom: 30px; 
}

#tipo-estoque {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

#tipo-estoque input[type="radio"] {
    display: none;
}

/* Melhorando a visibilidade das opções de estoque */
#tipo-estoque label {
    font-size: 18px; 
    padding: 10px 20px;
    background-color: #f1f1f1;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#tipo-estoque input[type="radio"]:checked + label {
    background-color: #c6d4e1;
    color: white;
}

.hidden {
    display: none;
}
/* Contêiner da tabela de Pedidos Realizados */
#tabela-pedidos-container {
    width: 100%;
    overflow-x: auto; 
}

/* Ajusta a tabela de pedidos */
#tabela-pedidos {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto; 
}

/* Responsividade para telas menores */
@media screen and (max-width: 768px) {


/* Estilo dos botões de Tipo de Estoque */
#tipo-estoque label {
    display: inline-block;
    padding: 15px 25px; 
    border: 2px solid #c6d4e1;
    border-radius: 8px;
    font-size: 18px; 
    font-weight: bold;
    cursor: pointer;
    color: #44749d;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; 
}

#tipo-estoque label:hover {
    background-color: #ececfb;
    border-color: #44749d; 
}

/* Estilo do botão selecionado do Tipo de Estoque */
#tipo-estoque input[type="radio"]:checked + label {
    background-color: #44749d;
    color: white;
    border-color: #44749d;
}

/* Estilo dos botões de Tipo de Pagamento */
#tipo-pagamento {
    display: flex;
    justify-content: space-around;
    margin: 25px 0; 
}

#tipo-pagamento input[type="radio"] {
    display: none;
}

#tipo-pagamento label {
    display: inline-block;
    padding: 15px 25px;
    border: 2px solid #44749d;
    border-radius: 8px;
    font-size: 22px; 
    font-weight: bold;
    cursor: pointer;
    color: #44749d;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; 
}

#tipo-pagamento label:hover {
    background-color: #44749d;
    border-color: #44749d; 
}

/* Estilo do botão selecionado do Tipo de Pagamento */
#tipo-pagamento input[type="radio"]:checked + label {
    background-color: #44749d;
    color: white;
    border-color: #44749d;
}

/* Estilo do botão padrão */
button {
    width: 100%;
    padding: 15px; 
    background-color: #44749d;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px; 
    cursor: pointer;
    margin-bottom: 20px; 
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #44749d;
}


/* Estilo do total de caixa */
#total-caixa {
    font-size: 22px;
    color: #444;
    margin-top: 25px; 
    font-weight: bold;
    text-align: center; 
}

/* Estilo do alerta de estoque */
#alerta-estoque {
    font-size: 20px; 
    color: red;
    margin-top: 15px; 
    font-weight: bold;
    text-align: center; 
    background-color: #f8d7da; 
    padding: 10px;
    border-radius: 8px;
    border: 2px solid red; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo para o menu fixo no topo */
.nav-bar {
    position: fixed;
    background-color: #44749d;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    z-index: 1000; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-bar button {
    background-color: #44749d;
    border: none;
    color: white;
    font-size: 18px;
    margin: 0 10px;
    cursor: pointer;
    padding: 15px 12px;
    transition: background-color 0.3s ease;
}


.nav-bar button:hover {
    background-color: #027fe9; 
}

.page {
    padding-top: 60px; 
}

.hidden {
    display: none;
}

.popup-reset {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}


.popup-content {
    background-color: #44749d;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.popup-close {
    top: 10px;
    right: 10px;
    font-size: 80px;
    cursor: pointer;
    color: red;
}

.popup-close:hover {
    color: #44749d ;
}


/* Estilo do Histórico de Vendas */
#historico-page {
    margin-top: 20px;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    overflow-x: auto; 
}


.botao {
  margin: 5px auto;
  align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: auto; 
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    box-sizing: border-box;
}

th {
    background-color: #44749d;
    color: white;
    font-weight: bold;
    font-size: 22px; 
}

td {
    font-size: 16px; 
    color: #333;
}

#historico-page table {
    margin-top: 30px;
    margin-bottom: 30px;
}

#historico-page table th, #historico-page table td {
    padding: 12px;
}

#historico-page table tr:nth-child(even) {
    background-color: #f9f9f9;
}

#historico-page table tr:hover {
    background-color: #f1f1f1;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#historico-page table td {
    font-size: 18px; 
    line-height: 1.5;
}

/* Adiciona rolagem horizontal se a tabela for muito grande */
#historico-page table {
    width: 100%;
    overflow-x: auto;
    display: block;
}


/* Garantir que inputs e botões fiquem dentro do container */
input, select, button {
    box-sizing: border-box; 
}

.page {
    padding-top: 80px;
}

/* Responsividade adicional para ajustar inputs e botões */
@media (max-width: 768px) {
    .container {
        max-width: 90%; 
        padding: 20px;
        margin: 20px auto;
    }
     
    .nav-bar{
       overflow: auto;
       position: static;
       align-items: center;
       align-content: center;
       width: 100%;
     }
     
    .nav-bar button{
      margin: 5px;
      width: 75px;
      font-size: 13px;
      align-items: center;
    }
    
    #tipo-estoque{
      width: 86%;
      align-items: center;
      margin: 0px auto;
    }
    
    #tabela-pedidos th, 
    #tabela-pedidos td {
        padding: 8px;
        font-size: 18px;
        word-wrap: break-word; 
    }

    #tabela-pedidos {
        display: block;
        overflow-x: auto; 
        white-space: nowrap;
    }
    
    #tabela-historico th, 
    #tabela-historico td {
        padding: 8px;
        font-size: 14px;
        word-wrap: break-word; 
    }

    #tabela-historico {
        display: block;
        overflow-x: auto; 
        white-space: nowrap;
    }
    
    #tipo-pagamento{
      width: 86%;
      align-items: center;
      margin: 0px auto;
    }
    
    h1 {
        font-size: 24px; 
        text-align: center; 
    }

    input, select, button {
        width: 90%; 
        font-size: 16px;
        padding: 12px;
    }
    

    button {
        margin: 10px 0;
    }
}

/* Responsividade para telas menores (smartphones) */
@media (max-width: 480px) {
    .container {
        padding: 15px; 
    }

    h1 {
        font-size: 20px;
        margin-bottom: 10px;
        
    }

    input, select, button {
        font-size: 14px;
        padding: 10px;
    }

    #tipo-estoque, #tipo-pagamento {
        flex-direction: column; 
    }

    #tipo-estoque label,
    #tipo-pagamento label {
        width: 100%; 
        text-align: center;
        font-size: 14px;
        padding: 8px;
    }
}

@media (max-width: 320px) {
    .page {
        padding-top: 100px;
    }
}
